@font-face {
    font-family: "ProximaNovaLight";
    src: url('../fonts/proximanova-light-webfont.woff');
}

@font-face {
    font-family: "ProximaNovaSemibold";
    src: url('../fonts/proximanova-semibold-webfont.woff');
}

body{
	font-family: "ProximaNovaLight";
	color:#fff;
}

body {
    overflow-x: hidden;
}

h1, h2, h3{
	color: #5b545b;
}

h4{
	color:#868487;
}

.brand-name{
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 32px;
	margin-bottom: 10px;
}

a{
	text-decoration: none;
	color: #D67A65;
}

a:hover, a:focus{
	text-decoration: none;
	color: #fff;
}


.description{
	font-size: 18px;
	line-height: 24px;
	color: rgba(255,255,255,0.7);
	margin:20px 0px 20px 0px;
}


.font-light{
	font-family:"ProximaNovaLight" !important;
}

.font-bold{
	font-family:"ProximaNovaSemibold" !important;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.modal{
	display: none;
	background:#fff;
	text-align: center;
	border-radius: 4px;
	width:400px;
	padding-bottom:15px;
}

.modal img{
	margin-top:20px;
}

.modal p{
	color:#888;
}

.modal-header{
	width:100%;
	background:#d67a65;
	color: #fff;
	border-radius: 4px 4px 0px 0px;
	padding-top:15px;
	padding-bottom: 15px;
	font-size: 20px;
	font-family: 'ProximaNovaSemibold';
}

.navbar{
	min-height: 70px;
	border: none;
}

.navbar-inverse {
    background-color: #604966;
    border-color: transparent;
    margin-bottom: 0px;
}

.navbar-brand{
	float: left;
	height: 70px;
	padding: 15px;
	font-size: 18px;
	line-height: 41px;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    opacity: 0.8;
}

#intro-section{
	text-align: center;
	padding: 100px;
}

.logo-main{
	max-width:100px;
}

.screenshot{
	max-width: 100%;
}

#particles {
	width: 100%;
	height:100vh;
	position: absolute;
	top: 0px;
	z-index: -1;
	width: 100%;
	background-size: cover;
	background: #604966;
}


.about {
	position:relative;
	padding-top:50px;
    text-align: center;
}

.about h1{
	margin:30px;
	color: #fff;
} 

.action-button{
	padding:10px 15px 10px 15px;
	margin:20px;
	border-radius: 4px;
	display: inline-block;
	width:175px;
	background: none;
	border:1px solid #fff;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	transition:0.2s all ease-in;
}

.action-button:hover{
	background: #D67A65;
	border:1px solid #D67A65;
	color: #fff;
}

.action-button-orange{
	padding:10px 15px 10px 15px;
	margin:20px 0px;
	border-radius: 4px;
	display: inline-block;
	width:175px;
	text-align: center;
	background: none;
	border:1px solid #D67A65;
	text-transform: uppercase;
	color: #D67A65;
	transition:0.2s all ease-in;
}

.action-button-orange:hover{
	background: #D67A65;
	color: #fff;
}

.center{
	text-align: center;
}

.features{
	padding:50px;
	background: #f8f8f8;
	margin-top:50px;
}

.gray{
	background: #f8f8f8 !important;
}

.features-expert{
	padding:60px;
	background: #fff;
	padding-right:0px;
	margin-top:50px;
	position:relative;
	display:block;
	min-height:590px;
}

.features-expert h2{
	margin:25px 0px;
}

.features-expert h4{
	font-size:24px;
	margin:20px 0px;
	color: #D67A65;
}

.features-expert ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

section h1{
	color: #5b545b;
	margin: 20px;
}

.separator {
    width: 40px;
    height: 2px;
    display: block;
    
    margin:30px auto 50px auto;
    background-color: #D67A65;
}

.section-subheading {
    margin-bottom: 70px;
    text-transform: none;
    font-size: 18px;
    font-style: normal;
    line-height: 1;
    margin-top: 25px;
    color: #666;
    font-weight: 400;
}

.hiw-heading{
	text-transform: none;
	color: #333;
	font-size: 22px;
	margin-top: 0px;
	line-height: 22px;
	margin-bottom: 22px;
}

p{
	color: #444;
	font-size: 15px;
}

.hiw-icon {
    color: #d67a65;
    margin-bottom: 36px;
    font-size: 40px;
}

.feature-icon{
	float: left;
	margin-right: 15px;
}

.faq{
	padding: 60px;
	margin-bottom: 50px;
}

.faq p{
	margin-top: 25px;
	font-size: 16px;
}

#faq-slider{
	margin-top:30px;
	position: relative;
}

.footer{
	background: #302533;
}

.footer p{
	color: rgba(255,255,255,0.3);
}

.footer-text{
	font-size: 14px;
	margin-top: 20px;
}

.contact-text{
	color: rgba(255,255,255,0.6);
	font-size: 14px;
	display: block;
	text-align: left;
	margin:10px 0px;
}

.sm-link{
	color: rgba(255,255,255,0.6);
	font-size: 14px;
	display: block;
	text-align: left;
	margin:10px 0px;
}

.margin-10{
	margin-right:10px;
}

.sm-icon{
	max-width:18px;
	opacity: 0.4;
	transition:0.1s all ease-in;
	margin-right: 10px;
	margin-top: -2px;
}

.sm-icon:hover{
	opacity:1;
}

.footer-bottom p{
	font-size: 14px;
}

@media screen and (max-width: 480px) {

	.features-expert img, .features-user img{
		display: none;
	}

	.features-expert, .features-user, .faq{
		padding:10px;
	}

	.container-table{
		width:90%;
		height:90vh;
	}

	.flow-icon{
		max-width: 50px;
		margin-right:5px;
		margin-left: 5px;
	}

	.icon-container{
		margin-bottom:25px;
	}

	.description{
		margin-top:20px;
		margin-bottom: 20px;
		font-size: 14px;
	}

	.email-field{
		width:90%;
		border-radius: 3px;
	}

	.submit{
		display: block;
		margin: auto;
		border-radius: 3px;
		margin-top: 15px;
	}
}